/* src/app.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    font-family: 'Noto Sans', 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: dark;
    
    --color-primary: 79 70 229;
    --color-secondary: 99 102 241;
    --color-accent: 167 139 250;
    --color-muted: 255 23 68;
    --color-dark: 38 50 56;
    --color-darker: 10 10 10;
    --color-light: 200 230 201;
    --color-violet: 102 51 102;
    --color-cyan: 0 176 255;
    --color-greenCH: 118 255 3;
    --color-orangeSL: 249 168 37;
    --color-pineapleCream: 255 255 141;
  }

  /* Smooth scroll */
  html {
    scroll-behavior:smooth;
    background-color: rgb(var(--color-dark));
    text-emphasis-color: rgb(var(--color-violet));
  }
}

@layer components {

}

@layer utilities {
  
}
